@import '../../../styles/helpers.scss';

.connect{
    position: relative;
    .start{
        margin-top: 48px;
        .headingText{
            padding: 0;
            text-align: start;
            h1{
                font-size: 64px;
                border-bottom: 1px solid $p1;
                padding-bottom: 24px;
            }
        }
        @include md{
            .headingText{
                h1{
                    font-size: 97px;
                    padding-bottom: 24px;
                }
            }
        }
        @include lg{
            .headingText{
                h1{
                    font-size: 64px;
                    padding-bottom: 80px;
                }
            }
        }
        @include xl{
            .headingText{
                h1{
                    font-size: 108px;
                    padding-bottom: 96px;
                }
            }
        }
    }
    .connectTxt{
        display: flex;
        flex-direction: column;
        gap: 32px;
        color: $n;
        p{
            font-size: 20px;
            font-weight: 500;
            span{
                font-weight: 600;
            }
        }
        a{
            width: max-content;
            color: $p1;
            font-size: 20px;
            font-weight: 400px;
            .sign{
                font-size: 16px;
            }
        }
        .lunch{
            color: $n1;
            text-decoration: none;
            height: 64px;
        }
        @include md{
            p{
                font-size: 24px;
            }
            a{
                font-size: 24px;
                .sign{
                    font-size: 18px;
                }
            }
        }
        @include lg{
            margin-top: 48px;
        }
    }
}