@import './helpers.scss';

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: $p1;
    height: 60px;
    padding: 0 32px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    color: $p2;
    &.small-btn{
        height: 45px;
    }
    &.dark-btn{
        background-color: #161616;
        color: $n;
    }
}