// media queries
@mixin xxl {
    @media only screen and (min-width: "1400px") {
      @content;
    }
  }
  @mixin xl {
    @media only screen and (min-width: "1200px") {
      @content;
    }
  }
  @mixin lg {
    @media only screen and (min-width: "992px") {
      @content;
    }
  }
  @mixin md {
    @media only screen and (min-width: "768px") {
      @content;
    }
  }
  @mixin sm {
    @media only screen and (min-width: "576px") {
      @content;
    }
  }
  @mixin xs {
    @media only screen and (max-width: "575px") {
      @content;
    }
  }
  // fonts
  @mixin outfit {
    font-family: 'Outfit', sans-serif;
  }
  // colors
  $p1: #FFEF00;
  $p2: #1c1c1c;
  $p3: #989898;
  $p4: #11151F;
  $p5: #B7B7B7;
  
  $n: #FFFFFF;
  $n1: #000000;
  
  $shades1: #9A9FA5;
  $shades2: #6F767E;
  $shades3: rgba(#6F767E, .4);
  $shades4: rgba(#111315, .5);
  
  // typography
  @mixin title1-s {
    font-size: 20px;
    font-weight: 600;
    line-height: (32/20);
    letter-spacing: -.02em;
    @include m {
      font-size: 18px;
    }
  }
  @mixin title1-m {
    font-size: 20px;
    font-weight: 500;
    line-height: (32/20);
    letter-spacing: -.02em;
    @include m {
      font-size: 18px;
    }
  }
  @mixin title2 {
    font-size: 18px;
    line-height: (24/18);
    letter-spacing: -0.02em;
  }
  @mixin base1-s {
    font-size: 15px;
    font-weight: 600;
    line-height: (24/15);
  }
  @mixin base1-b {
    font-size: 15px;
    font-weight: 700;
    line-height: (24/15);
  }
  @mixin base2 {
    font-size: 14px;
    font-weight: 600;
    line-height: (24/14);
  }
  @mixin body1-m {
    font-size: 15px;
    font-weight: 500;
    line-height: (24/15);
    letter-spacing: -.015em;
  }
  @mixin body1-s {
    font-size: 15px;
    font-weight: 600;
    line-height: (24/15);
    letter-spacing: -.015em;
  }
  @mixin body2-s {
    font-size: 14px;
    font-weight: 600;
    line-height: (24/14);
  }
  @mixin caption1 {
    font-size: 13px;
    font-weight: 600;
    line-height: (16/13);
  }
  @mixin caption1-m {
    font-size: 13px;
    font-weight: 500;
    line-height: (16/13);
  }
  @mixin caption2 {
    font-size: 12px;
    font-weight: 700;
    line-height: (16/12);
  }
  @mixin caption2-m {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
  }
  @mixin button1 {
    font-size: 15px;
    font-weight: 700;
    line-height: (24/15);
  }
  @mixin button2 {
    font-size: 13px;
    font-weight: 700;
    line-height: (24/13);
  }