@import '../../styles/helpers.scss';

.cardWrap{
    background-color: $p4;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 36px 20px;
    @include xs{
        padding: 24px 12px;
    }
    .icon{
        img{
            height: 96px;
            width: 96px;
            object-fit: contain;
            @include xs{
                height: 72px;
                width: 72px;
            }
        }
    }
    .txt{
        h2{
            font-size: 32px;
            color: $n;
            margin-bottom: 16px;
            @include xs{
                font-size: 24px;
            }
        }
        p{
            color: $p5;
            font-size: 18px;
            @include xs{
                font-size: 16px;
            }
        }
    }
}