@import '../../styles/helpers.scss';

.headingText{
    padding: 0 15%;
    text-align: center;
    .heading{
        font-size: 40px;
        color: $n;
        span{
            color: $p1;
        }
        @include xs{
            font-size: 28px;
        }
    }
    .para{
        color: $p3;
        font-size: 20px;
        font-weight: 500;
        margin-top: 24px;
        @include xs{
            font-size: 16px;
        }
    }
    @media screen and (max-width: 991px) {
        padding: 0;
    } 
}